{% extends "base.html" %}

{% block title %}{{ listing.title }}{% endblock title %}

{% block extra_css %}
<style>
    .sold-out .listing-img {
        filter: grayscale(100%);
    }

    .sold-out p {
        color: #777; /* Adjust color as needed */
    }

    .sold-out .btn {
        background-color: #ccc; /* Adjust background color as needed */
        border-color: #ccc;
    }
</style>
{% endblock extra_css %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ listing.image }}" alt="{{ listing.title }}" class="img-fluid listing-img {% if not listing.available %}sold-out{% endif %}" width="400px">
        </div>
        <div class="col-md-6">
            <h1>{{ listing.title }}</h1>
            <p><strong>Seller:</strong> {{ listing.seller }}</p>
            <p><strong>Price:</strong> ${{ listing.price }}</p>
            <p><strong>Description:</strong></p>
            <p>{{ listing.description }}</p>
        </div>
    </div>
</div>
<br>
<a href="{% url 'listings' %}">
    <button class="btn btn-secondary {% if not listing.available %}sold-out{% endif %}">
        Back
    </button>
</a>
<br>
{% if listing.available %}
    {% if listing.seller != request.user %}
        <a href="{% url 'buy' listing_id=listing.id %}">
            <button class="btn btn-success">
                Buy
            </button>
        </a>
    {% endif %}
    <br>
    {% if listing.seller == request.user %}
        <a href="{% url 'delete' listing_id=listing.id %}">
            <button class="btn btn-danger">
                Delete
            </button>
        </a>
    {% endif %}
{% else %}
    <h1>The {{listing.title}} it is already sold!</h1>
{% endif %}
{% endblock content %}
