{% extends "base.html" %}

{% block title %}listings{% endblock title %}

{% block extra_css %}
<style>
  .listing-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
  }

  .listing-card:hover {
    transform: scale(1.05); /* increase size by 5% */
  }

  .card-img-top {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  .card-title {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.2em;
  }

  .card-text {
    margin-bottom: 5px;
  }

  .back-btn {
    margin-top: 20px;
  }

  /* style for container to ensure scrolling */
  .content-container {
    max-height: calc(100vh - 100px); /* adjust according to your header/footer height */
    overflow-y: auto;
  }

  /* style for transparent card when not available */
  .listing-card.not-available {
    opacity: 0.5; /* adjust opacity as needed */
  }
</style>
{% endblock extra_css %}

{% block content %}
  <div class="container content-container"> <!-- wrap content in container with scrolling -->
    <h1>listings</h1>
    <form action="{% url 'search' %}" method="post" class="mb-4">
      {% csrf_token %}
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
      </div>
    </form>
    {% if listings %}
      <div class="row row-cols-1 row-cols-md-3">
        {% for listing in listings %}
          <div class="col mb-4">
            <a href="{% url 'listing' listing_id=listing.id %}" class="card box-shadow listing-card {% if not listing.available %}not-available{% endif %}">
              <img class="card-img-top" src="{{ listing.image }}" alt="{{ listing.title }}">
              <div class="card-body">
                <h2 class="card-title">{{ listing.title }}</h2>
                <p class="card-text">seller: {{ listing.seller }}</p>
                <p class="card-text">price: ${{ listing.price }}</p>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>no listings available.</p>
    {% endif %}
  </div>
  <a href="{% url 'index' %}" class="btn btn-secondary back-btn">back</a>
{% endblock %}
