{% extends "base.html" %}

{% block title %}Login{% endblock title %}


{% block content %}
<h1>Login</h1>

<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="username">
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password">
    <br>
    <input type="submit" value="Login In" class="btn btn-success">
</form>
<a href="{% url 'index' %}"><button class="btn btn-secondary">Back</button></a>
{% endblock content %}